/* Add your custom styles here */

/* Set background color */
body {
    font-family: Arial, sans-serif;
    background-image: url(/static/img/backg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
}

/* Adjust font size and margins */
.text {
    text-align: center;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.center {
    text-align: center;
}

/* Adjust form width and margins */
.fr {
    width: 80%; /* Set form width */
    margin: 0 auto; /* Center the form horizontally */
    padding: 10px; /* Add padding around the form */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f9f9f9;
}

.fr p {
    font-size: 16px; /* Decrease font size */
    font-weight: bold; /* Make text bold */
    margin-bottom: 10px; /* Add bottom margin */
}

/* Adjust radio button margins */
input[type="radio"] {
    margin-right: 5px; /* Add margin to the right of radio buttons */
}

/* Adjust input container margins and padding */
.input-container {
    margin-bottom: 5px; /* Add bottom margin between input containers */
    padding: 5px; /* Add padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #fff; /* Add a white background color */
}

/* Adjust background colors for correct and incorrect answers */
.tsel {
    background-color: rgb(130, 228, 91);
}

.fsel {
    background-color: rgb(238, 70, 70);
}

/* Adjust button styles */
button {
    padding: 8px 16px; /* Example padding */
    background-color: darkgreen; /* Example background color */
    color: #fff; /* Example text color */
    border: none; /* Example border */
    border-radius: 5px; /* Example border radius */
    cursor: pointer;
    width: 100%; /* Make buttons full width */
}

/* Adjust form container for smaller screens */
form {
    padding: 10px; /* Adjust padding */
    width: 90%; /* Adjust width */
}

/* Adjust timer box for smaller screens */
#timer-box {
    padding: 10px;
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: 20px;
}
