/* Add your custom styles here */

/* Set background color */
body {
    font-family: Arial, sans-serif;
    background-image: url(/static/img/backg2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.text {
    text-align: center;
    font-size: 25px;
    margin-top: 20px;
}
.center {
    text-align: center;
}
#fr {
    width: 50%; /* Set form width */
    margin: 0 auto; /* Center the form horizontally */
    padding: 20px; /* Add padding around the form */
    border: 2px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #f9f9f9;
}

#fr p{
    font-size: 18px; /* Increase font size */
    font-weight: bold; /* Make text bold */
    margin-bottom: 20px; /* Add bottom margin */
}

input[type="radio"] {
    margin-right: 10px; /* Add margin to the right of radio buttons */
}

.input-container {
    margin-bottom: 10px; /* Add bottom margin between input containers */
    padding: 10px; /* Add padding */
    border: 1px solid #ccc; /* Add a border */
    border-radius: 5px; /* Add rounded corners */
    background-color: #fff; /* Add a white background color */
}

#lb {
    font-size: 16px; 
}

#fr button[type="submit"] {
    padding: 10px 20px; /* Add padding */
    background-color: #007bff; /* Set background color */
    color: #fff; /* Set text color */
    border: none; /* Remove border */
    border-radius: 5px; /* Add rounded corners */
    cursor: pointer; /* Change cursor to pointer on hover */
}

#fr button[type="submit"]:hover {
    background-color: #0056b3; /* Darker background color on hover */
}

.parg {
    font-size: 25px;
}
button {
    /* Add your button styles here */
    padding: 10px 20px; /* Example padding */
    background-color: darkgreen; /* Example background color */
    color: #fff; /* Example text color */
    border: none; /* Example border */
    border-radius: 5px; /* Example border radius */
    cursor: pointer;
    position:relative;
    width: 110px;
}

form {
    border: 2px solid #ccc; /* Border around the form */
    border-radius: 5px; /* Rounded corners for the form */
    padding: 20px; /* Padding inside the form */
    background-color: rgba(249, 249, 249, 0.9); /* Background color for the form */
    width: 300px; /* Set a fixed width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

form h2 {
    margin-top: 0; /* Remove top margin for the heading */
}

#from {
    border: 2px solid #ccc; /* Border around the form */
    border-radius: 5px; /* Rounded corners for the form */
    padding: 20px; /* Padding inside the form */
    background-color: rgba(249, 249, 249, 0.9); /* Background color for the form */
    width: 600px; /* Set a fixed width for the form */
    margin: 0 auto; /* Center the form horizontally */
}

#timer-box {
    border: 2px solid #333;
    padding: 20px;
    width: 200px;
    margin: 0 auto;
    text-align: center;
    font-family: monospace;
    font-size: 24px;
}
