{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block main %}
  <div>
    <h1 style="text-align: center;">بسم الله الرحمن الرحيم</h1>
    <div class="text">
      <p>﴿وَنُرِيدُ أَن نَّمُنَّ عَلَى الَّذِينَ اسْتُضْعِفُوا فِي الْأَرْضِ وَنَجْعَلَهُمْ أَئِمَّةً وَنَجْعَلَهُمُ الْوَارِثِينَ﴾ [ القصص: 5]</p>
      <p>مرحبا في مسابقة "اختبر معلوماتك المهدوية" المتمحورة حول الامام المهدي(عج) بمناسبة ولادته يوم 15 شعبان</p>
      <p>بمناسبة ولادة الامام المهدي (عج)، نقدم لكم مسابقة "اختبر معلوماتك المهدوية" ، ففي ظل انتشار الثقافة الغربية، وغياب ذكر الامام عن أذهان بعض الشباب، أصبح واجبا ترسيخ الثقافة الفكر المهدوي، الذي لا بد له ا لقيام دولة إسلامية مهدوية. ومن بين عهذه الأفكار لا بد من ترسيخ سيرة الامام المهدي في أذهان الشباب ما يزيد تعلقهم به وتمسكهم وتطلعهم الى معرفة أهدافه عند ظهوره وما سيكون عليه (عج).</p>
    </div>
    </div>
  <div class="parg">
    <h2>قوانين المسابقة</h2>
    <ol>
      <li>.بعد تسجيل الاسم والبريد والالكتروني سيتم النقل الى صفحة المعلومات</li>
      <li>.ستحتوي صفحة المعلومات على معلومات ستتمحور حولها أسئلة المسابقة</li>
      <li>.سيكون هناك مؤقت في صفحة المعلومات وعند انتهائه سيتم التحويل تلقائيا الى المسابقة</li>
      <li>.ستكون المسابقة عبارة عن مجموعة من الأسئلة مع اربع خيارات</li>
      <li>.عند الانتهاء من المسابقة تعرض النتيجة</li>
    </ol>
    <div class="center">
      <button id="scroll" title="scroll to section" style="width: 711px;">أبدأ</button>
    </div>
    <br><br>
  </div>
  <div class="text" id="form">
    <form action="/" method="POST">
      <h2>قدم معلوماتك</h2>
      <br>
      <div>
        <input autocomplete="off" id="username" name="username" class="form-control mx-auto w-auto" required placeholder="اسم المستخدم" type="text">
      </div>
      <br>
      <div>
        <input id="email" name="email" placeholder="البريد الالكتروني" class="form-control mx-auto w-auto" type="text" required>
      </div>
      <br>
      <div>
        <button type="submit">أبدأ</button>
      </div>
    </form>
    </div>
{% endblock %}