{% extends 'layout.html' %}

{% block title %}Information{% endblock %}

{% block main %}
<div class="box">
	<div class="text">
		<h1>صفحة المعلومات</h1>
		<p>عند انتهاء المؤقت سيتم تحويلك الى الاختبار مباشرة أو يمكنك الضغط على الزر للبدء مباشرة</p>
		<div id="timer-box">
			<div id="timer">00:00</div>
		</div>
    </div>
		<p class="text">______________________________________________________________</p>
		<p class="parg">
			ولد الإمام أبو القاسم محمد بن الحسن المهدي (ع) يوم 15 شعبان من عام 255 للهجرة النبوية في مدينة سامراء. أبوه هو الإمام الحسن بن علي العسكري (ع) وأمه نرجس حفيدة قيصر الروم. أحيطت والدته بظروف سرية، فلم يعلم بولادته الا الخواص من اصحاب الإمام الحسن (ع)، وذلك لحفظه من بني العباس الذين كانوا يتربصون به لقتله. من ألقابه: القائم، صاحب الزمان، المهدي، الطالب بدم المقتول بكربلاء... بعد وفاة الإمام الحسن (ع) ادعى اخوه جعفر الكذاب الإمامة بعده لكن المهدي ظهر ونحى جعفرا قائلا له بانه الاحق بالصلاة على ابيه وانه لا يصلي على الامام الا الامام. ثم غاب الامام عن الانظار بعد تلك الحادثة اتقاءا من شر بني العباس كان تواصل الإمام مع الناس في هذه الفترة يتم عبر السفراء الاربعة وهم على الترتيب: عثمان بن سعيد العَمري-أبو جعفر محمد بن عثمان بن سعيد العمري-أبو القاسم الحسين بن روح النوبختي-علي بن محمد السمري. وهذه الفترة عُرفت بالغيبة الصغرى والتي استمرت حوالي 70 سنة. وعند موت السفير الرابع، بدأت الغيبة الكبرى التي ما زالت مستمرة الى يومنا هذا.
		</p>
  	<p class="text">______________________________________________________________</p>
	<h2>من الآيات القرآنية المتعلقة بالإمام(ع):</h2>
	<ul class="parg">
		<li>﴿ وَنُرِيدُ أَن نَّمُنَّ عَلَى الَّذِينَ اسْتُضْعِفُوا فِي الْأَرْضِ وَنَجْعَلَهُمْ أَئِمَّةً وَنَجْعَلَهُمُ الْوَارِثِينَ ﴾[ القصص: 5]</li>
		<li>﴿ وَلَقَدْ كَتَبْنَا فِى ٱلزَّبُورِ مِنْ بَعْدِ ٱلذِّكْرِ أَنَّ ٱلْأَرْضَ يَرِثُهَا عِبَادِىَ ٱلصَّٰلِحُونَ ﴾[الأنبياء: 105]</li>
		<li>﴿ بَقِيَّتُ اللَّهِ خَيْرٌ لَّكُمْ إِن كُنتُم مُّؤْمِنِينَ ۚ وَمَا أَنَا عَلَيْكُم بِحَفِيظٍ ﴾ [ هود: 86]</li>
	</ul>
	<p class="text">______________________________________________________________</p>
  <h2>من الآحاديث والروايات الواردة في شأنه (ع):</h2>
	<ul class="parg">
		<li>في حديث عن رسول الله ( صلى الله عليه وآله وسلّم ) ليلة المعراج ، قال الله تعالى : ( وأعطيتك أن أخرج من صلبه أحد عشر مهدياً كلهم من ذريتك من البكر البتول ، وآخر رجل منهم يصلي خلفه عيسى ابن مريم ، يملأ الأرض عدلاً كما ملئت ظلماً وجوراً ، أنجي به من الهلكة ، وأهدي به من الضلالة ، وأبرئ به من العمى ، وأشفي به المريض ، فقلت : إلهي وسيدي متى يكون ذلك؟ فأوحى الله جل وعز : يكون ذلك إذا رفع العلم ، وظهر الجهل ، وكثر القرّاء ، وقلّ العمل ، وكثر القتل ، وقلّ الفقهاء الهادون ، وكثر فقهاء الضلالة والخونة ، وكثر الشعراء ، واتخذ أمتك قبورهم مساجد ، وحلّيت المصاحف ، وزخرفت المساجد ، وكثر الجور والفساد ، وظهر المنكر وأمر أمّتك به ونهوا عن المعروف ، واكتفى الرجال بالرجال ، والنساء بالنساء ، وصارت الأمراء كفرة ، وأولياؤهم فجرة ، وأعوانهم ظلمة ، وذوي الرأي منهم فسقة )</li>
		<li>قال رسول الله ( صلى الله عليه وآله وسلّم ) واصفا إياه:(...التاسع منهم قائم أهل بيتي ، ومهدي أمتي ، أشبه الناس بي في شمائله وأقواله وأفعاله يظهر بعد غيبة طويلة وحيرة مضلّة ، فيعلن أمر الله ، ويظهر دين الله جل وعز ، يؤيد بنصر الله وينصر بملائكة الله ، فيملأ الأرض قسطاً وعدلاً كما ملئت جوراً وظلماً )</li>
		<li>وعن أمير المؤمنين ( عليه السلام ) قال : ( للقائم منا غيبة أمدها طويل كأني بالشيعة يجولون جولان النعم في غيبته ، يطلبون المرعى فلا يجدونه ، إلا من ثبت منهم على دينه ولم يقس قلبه لطول أمد غيبة إمامه فهو معي في درجتي يوم القيامة ، ثم قال ( عليه السلام ) : ان القائم منا إذا قام لم يكن لأحد في عنقه بيعة فلذلك نخفي ولادته ويغيب شخصه )</li>
	</ul><br>
	<p class="text">______________________________________________________________</p>
	<br><ul class="parg">
		{% for dict in s_info %}
			<li>{{ dict.cont }}</li>
		{% endfor %}
	</ul>
  	<br>
	<div class="center">
		<a href="/test"><button style="margin-bottom: 20px; width: 215px; height: 60px;">أبدأ الآن</button></a>
	</div>
</div>
{% endblock %}