{% extends 'layout.html' %}

{% block title %}Login{% endblock %}

{% block main %}
	<form action="/log" method="POST" class="center">
		<h2>سجل باستخدام حساب مسؤول</h2><br>
		<input id="email" name="email" placeholder="البريد الالكتروني" type="text" required value="{{ email }}" class="form-control mx-auto">
		<br><br>
		<input id="password" name="password" placeholder="Password" type="password" required autocomplete="off" class="form-control mx-auto";">
		<br><br>
		<button type="submit" style="width: 180px;">تسجيل الدخول</button>
	</form>
{% endblock %}