{% extends 'layout.html' %}

{% block title %}Scores{% endblock %}

{% block main %}
	<div class="center">
		<h1>مبارك لك</h1>
		<br>
    <div style="font-size: 60px;">
      <p>لقد حققت نتيجة {{ score }} من أصل 10 نقاط</p>
      <br>
      <p>
        درجتك هي: 
        {% if score > 9 %}
          ممتاز.
        {% elif score > 7 %}
          جيد جدا.
        {% elif score > 5 %}
          جيد.
        {% elif score > 2 %}
          لا بأس.
        {% else %}
          سيء.
        {% endif %}
        <br><br>
      </p>
    </div>
  </div>
  {% for dict in ans %}
    {% if not loop.first %}
    {% if dict.ans == dict.t %}
    <form class="fr" style="background-color: rgb(130, 228, 91);">
    <p class="center">صحيح</p>
    {% else %}
    <form class="fr" style="background-color: rgb(238, 70, 70);">
    <p class="center">خطأ</p>
    {% endif %}
      <p>{{ dict.question }}</p>
      {% for el in mylist[loop.index0] %}
          {% if el == dict.ans %}
            {% if el == dict.t %}
            <div class="input-container" style="background-color: rgb(130, 228, 91);">
              <div class="tsel">
                <input type="radio" value="{{ el }}" name="ans" id="tel" checked disabled>
                <label for="tel" id="lb">{{ el }}</label><br><br>
              </div>
            {% else %}
            <div class="input-container" style="background-color: rgb(238, 70, 70);">
              <div class="fsel">
                <input type="radio" value="{{ el }}" name="ans" id="fsl" style="background-color: rgb(238, 70, 70);" checked disabled>
                <label for="fsl" id="lb">{{ el }}</label><br><br>
              </div>
            {% endif %}
          {% else %}
            {% if el == dict.t %}
            <div class="input-container" style="background-color: rgb(130, 228, 91);">
              <div class="tsel">
                <input type="radio" value="{{ el }}" name="ans" id="tsl" disabled>
                <label for="tsl" id="lb">{{ el }}</label><br><br>
              </div>
            {% else %}
            <div class="input-container">
              <input type="radio" value="{{ el }}" name="ans" id="ans" disabled>
              <label for="ans" id="lb">{{ el }}</label><br><br>
            {% endif %}
          {% endif %}
        </div>
      {% endfor %}
    </form><br>
  {% endif %}
  {% endfor %}
  <div class="center">
    <img src="/static/img/backg.jpg" alt="Imam Mahdi">
		<a href="/info"><button style="width: 300px;">العودة الى صفحة المعلومات</button></a><br><br>
		<a href="/"><button style="width: 300px; margin-bottom: 32px;">العودة الى الصفحة الرئيسية</button></a>
  </div>
{% endblock %}