{% extends 'layout.html' %}

{% block title %}Challenge{% endblock %}

{% block main %}
	<h1 class="text">المسابقة</h1>
	<form action="/test" method="POST" class="fr">
		{% if type == 'oc' %}
			<p>{{ ques.question }}</p>
			<input type="hidden" value="{{ ques.ques_id }}" name="id">
			{% for el in mylist %}
			<div class="input-container">
				<input type="radio" value="{{ el }}" name="ans" id="ans" required>
				<label for="ans" id="lb">{{ el }}</label><br><br>
			</div>
			{% endfor %}
		{% elif type == 'mc' %}
			<p>{{ ques.ques }} (يمكنك اختيار أكثر من إجابة)</p>
			<input type="hidden" value="{{ ques.mc_id }}" name="id">
			{% for el in mylist %}
				<div class="input-container">
					<input type="checkbox" value="{{ el }}" name="ans" id="ans">
					<label for="ans" id="lb">{{ el }}</label><br><br>
				</div>
			{% endfor %}
		{% elif type == 'tc' %}
			<p style="text-align: center;">{{ ques.ques }}</p>
			<input type="hidden" value="{{ ques.qt_id }}" name="id">
			<input type="text" autocomplete="off" autofocus required class="form-control mx-auto" name="ans" id="ans" placeholder="الإجابة"><br><br>
		{% endif %}
		<button type="submit">أرسل</button>
	</form>
{% endblock %}